// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #e5e5e5;
$color-secondary: #ffffff;
$color-tr: #FFD15B;

// --------- Nuance du site ----------


// --------- Nuance shadows ----------

$card-shadow: #0000000a;

// --------- Nuance border -----------

$border-footer: #d6d6d6;

// --------- Nuance police -----------

$color-title-card: #1B1B1B;
$color-ingrd-card: #7A7A7A;
$color-text-error: #ff5a5a;

// --------- Police du site ----------

@font-face {
    font-family: 'Anton';
    src: url(../assets/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/Manrope/static/Manrope-Regular.ttf);
}

// ------- Mixins et variables -------

$font-title: 'Anton';

$font-text: 'Manrope';

// ---------- Responsive ------------



// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;

    &:focus {
        outline: none;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $color-primary;
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}