@use "settings" as *;


// |===========================================================================|
// |----------------------------| Style du site |------------------------------|
// |===========================================================================|


// --------------------------------- HEADER ------------------------------------

.header-container {

    background-image: url(../assets/images/Banner_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .logo-container {

        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 5px;
        margin-top: 50px;
        margin-left: 70px;
    }

    .hero-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $font-title;
            font-size: 2.8em;
            color: $color-tr;
            font-weight: 500;
            letter-spacing: 1.5px;
            text-align: center;
            margin: 0;
            margin-bottom: 40px;
            margin-top: 160px;
        }

        .search-bar {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            background: $color-secondary;
            padding: 10px;
            width: 70%;
            height: 60px;
            margin-bottom: 200px;

            input {
                font-family: $font-text;
                font-size: 1em;
                width: 100%;
                height: 70%;
                padding-left: 30px;
                padding-right: 20px;
                border: none;
                outline: none;
            }

            .search-btn {

                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 10px;
                width: 65px;
                height: 100%;
                background: $color-title-card;
                color: $color-secondary;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    background: $color-tr;

                    i {
                        color: $color-title-card;
                    }
                }

                i {
                    font-size: 2em;
                    color: $color-secondary;
                }
            }
        }
    }
}

// --------------------------------- FILTERS ------------------------------------


// --------------------------------- GALLERY ------------------------------------