@font-face {
  font-family: "Anton";
  src: url(../assets/fonts/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/static/Manrope-Regular.ttf);
}
* {
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5e5e5;
}

p,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.header-container {
  background-image: url(../assets/images/Banner_wallpaper.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-container .logo-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
  margin-top: 50px;
  margin-left: 70px;
}
.header-container .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container .hero-container h1 {
  font-family: "Anton";
  font-size: 3.5em;
  color: #FFD15B;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 200px;
}
.header-container .hero-container .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: #ffffff;
  padding: 12px;
  width: 60%;
  height: 80px;
  margin-bottom: 280px;
}
.header-container .hero-container .search-bar input {
  font-family: "Manrope";
  font-size: 1.4em;
  width: 100%;
  height: 70%;
  padding-left: 30px;
  padding-right: 20px;
  border: none;
  outline: none;
}
.header-container .hero-container .search-bar .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 100%;
  background: #1B1B1B;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
.header-container .hero-container .search-bar .search-btn:hover {
  background: #FFD15B;
}
.header-container .hero-container .search-bar .search-btn:hover i {
  color: #1B1B1B;
}
.header-container .hero-container .search-bar .search-btn i {
  font-size: 3em;
  color: #ffffff;
}

#receipe-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, max-content));
  gap: 90px 65px;
  width: 100%;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
#receipe-gallery .recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  height: 950px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.0392156863);
  cursor: pointer;
}
#receipe-gallery .recipe-card .card-img {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 24px 24px 0 0;
}
#receipe-gallery .recipe-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}
#receipe-gallery .recipe-card .card-img .recipe-time {
  position: absolute;
  top: 27px;
  right: 25px;
  padding: 6px 20px;
  background: #FFD15B;
  border-radius: 20px;
  font-family: "Manrope";
  font-weight: 300;
  font-size: 1em;
}
#receipe-gallery .recipe-card .recipe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
}
#receipe-gallery .recipe-card .recipe-content .recipe-header {
  display: flex;
  flex-direction: column;
}
#receipe-gallery .recipe-card .recipe-content .recipe-header h2 {
  font-family: "Anton";
  font-size: 1.4em;
  letter-spacing: 0.5px;
  margin: 0;
  margin: 45px 0;
}
#receipe-gallery .recipe-card .recipe-content .recipe-header .recette-txt {
  text-transform: uppercase;
  font-family: "Manrope";
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #7A7A7A;
}
#receipe-gallery .recipe-card .recipe-content .recipe-header .description {
  font-family: "Manrope";
  font-size: 1.15em;
  line-height: 1.4;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100px;
  margin-top: 15px;
}
#receipe-gallery .recipe-card .recipe-content .recipe-body {
  display: flex;
  flex-direction: column;
}
#receipe-gallery .recipe-card .recipe-content .recipe-body .ingredients-txt {
  text-transform: uppercase;
  font-family: "Manrope";
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #7A7A7A;
  margin-top: 35px;
}
#receipe-gallery .recipe-card .recipe-content .recipe-body .ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
  font-family: "Manrope";
  font-size: 1.1em;
  margin-top: 15px;
}
#receipe-gallery .recipe-card .recipe-content .recipe-body .ingredients li {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #7A7A7A;
  gap: 3px;
}
#receipe-gallery .recipe-card .recipe-content .recipe-body .ingredients li strong {
  font-weight: 600;
  color: #1B1B1B;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 80px;
  background: linear-gradient(#e5e5e5, #ffffff);
  border-top: 1px solid #d6d6d6;
}
footer .footer-txt {
  font-family: "Manrope";
  font-size: 1.2em;
  color: #1B1B1B;
}

/*# sourceMappingURL=style.css.map */
